.main {
  padding: 1rem;
  font-family: "roboto", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.textContainer1 {
  display: flex;
  align-items: center;
}

.textContainer1 > * {
  flex: 1;
}

.textContainer1 > h2 {
  font-size: 1.5rem;
}

.textContainer1 strong {
  font-weight: 500;
}

.textContainer1 > .date {
  text-align: center;
  color: #0000009c;
}

.date:last-child {
  text-align: end;
}

.textContainer2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textContainer2 > p {
  font-weight: 500;
}

.textContainer2 > div {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
}

.textContainer2 > div > p {
  font-weight: 500;
  color: rgba(115, 113, 113, 0.761);
  background-color: rgba(128, 128, 128, 0.246);
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
}

.postContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.postContent > img {
  width: 80%;
  border-radius: 5px;
  align-self: center;
}

.postContentHtml > * {
  all: revert;
}

.likeContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.likeContainer strong {
  font-weight: 500;
}

.likeButton {
  background-color: black;
  mask-image: url("../../assets/images/heart.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 25px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.likeButton.liked {
  background-color: crimson;
}

.loginMessage a {
  color: #000;
}

.main > hr {
  width: 100%;
}

.commentsContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  border-radius: 5px;
  gap: 2rem;
}

.commentsContainer > h3 {
  font-size: 1.4rem;
  justify-self: center;
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.errors {
  color: crimson;
  list-style: disc;
  list-style-position: inside;
  justify-self: center;
  line-height: 1.3;
}

.createComment {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
}

.createComment > img {
  width: 80px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.createComment > input {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0px 5px gray;
  padding: 1rem 0.5rem;
}

.commentsContainer > .commentsCardContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (max-width: 770px) {
  .textContainer1 {
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
    margin-top: 1rem;
  }

  .textContainer1 > h2 {
    align-self: center;
  }

  .postContent > img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .createComment {
    grid-template-columns: 1fr;
  }
  .createComment > img {
    justify-self: center;
  }
}
