.card {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.514);
  position: relative;
}

.dropdown {
  justify-self: end;
}

.dropdown > button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 150ms filter;
  &:hover {
    filter: invert(0.5);
  }
}

.dropdown img {
  width: 30px;
}

.dropdownContent {
  right: 0;
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 25%;
}

.dropdownContent > div {
  display: flex;
}

.dropdownContent button {
  flex: 1;
  text-align: start;
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 200ms background-color;
  font-size: 0.9rem;
  &:hover {
    background-color: gainsboro;
  }
}

.dropdown:hover .dropdownContent {
  display: block;
}

.textContainer1 {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.textContainer1 > img {
  width: 60px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-size: 1.1rem;
}

.createdAt {
  color: #0000009c;
}

.likeContainer {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.likeContainer strong {
  font-weight: 500;
}

.likeButton {
  background-color: black;
  mask-image: url("../../assets/images/heart.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 25px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.likeButton.liked {
  background-color: crimson;
}

.loginMessage a {
  color: #000;
}
